/*////Main Styles////*/
body{
	font-family:"lato", san-serif;
}
img{
	max-width: 100%;
}
.container-fluid{
}
.big-letter{
   float: left;
  font-size: 59px;
  line-height: 35px;
  padding-top: 14px;
  padding-right: 7px;
  font-weight: 700;
  color:#E60000;
}
.white{
  color:#FFF;
}

/*////Nav Styles/////*/
#nav{
	background-color: white;
	border-bottom: 1px ridge #ccc;
	box-shadow: 1px 1px 4px #ddd;
}
#nav .logo img{
	padding:10px 0px;
	margin-left: 10px;
	margin-top: 13px;
}
#nav .logo span{
	font-weight: 500;
	color:#E60000;
}
#nav .nav-link{
	text-align: center;
	font-size: 20px;
	color:#222;
	padding:17px 0px;
	font-weight: 300;
	cursor:pointer;
	border-bottom:3px solid #FFF;
}
#nav .nav-link a{
	text-decoration: none;
	color:#222;

}
#nav .nav-link a.selected{
	color:#E60000;

}
#nav .nav-link.social{
	padding-bottom:13px;
}
#nav .nav-link.social span{
	margin-left: 10px;
}
#nav .nav-link span{
	font-size: 30px;
	color:#E60000;
}
#nav .nav-link:hover{
	border-bottom: 3px solid #E60000;
}
#nav .nav-link.selected{
	color:#E60000;
}
/*////Body Styles////*/
.body{
	margin-top:30px;
}
.body .main-text{
	font-weight: 300;
	font-size:30px;
	line-height: 40px;
	margin-top: 40px;
}
.body .download{
	text-align: center;
	width:100%;
	font-weight: 300;
}
.body .download h3{
	font-weight: 300;
	font-size: 30px;

}
.body .download span{
	margin: 0px 10px;
	font-size: 40px;
	color:#E60000;

}
/*////Footer Styles////*/
.footer{
	border-top:3px solid #E60000;
	text-align: center;
	padding:5px 0px;
}

/*////Customer Page Styles///////*/

.claim{
	font-size:40px;
	color:#FFF;
	text-align: center;
}
.story p{
	font-size:30px;
	color: #6E788C;
}

/*////Mission Page Styles///////*/
.mission-top{
	font-size:45px;
	color:#E60000;
	text-align: center;
	font-weight: 700;
}
.mission-mid{
	font-size:40px;
	color:#6E788C;
	text-align: center;
	font-weight: 300;
}

.quote{
	font-size:20px;
	color:#6E788C;
	text-align: center;
	font-weight: 300;
	font-style: italic;
	margin-bottom: 50px;

}
.quote span{
	font-size:15px;
	color:#E60000;
	text-align: center;
	font-weight: 300;
	font-style: normal;
}


/*////Team Page Styles///////*/
.team{
	padding:10px;
}
.team .text{
	font-size: 30px;
	text-align: center;
}

.team img{
	width:100%;

}
.team h4{
	font-size: 14px;
	text-align: center;
	font-weight: bold;
}
.team h4 span{
	text-align: center;
	font-weight: normal;
	color:#E60000;
}

.callout-number{
	text-align: center;
	color: #E60000;
	padding:10px;
	border-radius: 100px;
	font-size: 30px;
}

.step{
	font-size: 20px;
	margin-bottom:20px;
}

.intersplice{
	background-color: #E60000;
}